@model SellCamera.Models.Account
<form action="/Checkout/result" class="form-horizontal" method="post" role="form" novalidate="novalidate">
    <div class="goods-data clearfix">
        <div class="table-wrapper-responsive">
            <div class="form-group">
                <label class="col-md-2 control-label">Người nhận :</label>
                <div class="col-md-10">
                    <input class="form-control" name="Hoten" required="required" type="text" value="@Model.Hoten" >
                    <span class="field-validation-valid" data-valmsg-for="buyer" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Email :</label>
                <div class="col-md-10">
                    <input class="form-control" name="Email" required="required" type="text" value="@Model.Email" >
                    <span class="field-validation-valid" data-valmsg-for="seller" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" type="number">Điện thoại :</label>
                <div class="col-md-10">
                    <input class="form-control" name="Phonenumber" required="required" type="number" value="@int.Parse(Model.Phonenumber)">
                    <span class="field-validation-valid" data-valmsg-for="phoneNumber" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Địa chỉ :</label>
                <div class="col-md-10">
                    <input class="form-control" name="Address" required="required" type="text" value="@Model.Address" aria-required="true">
                    <span class="field-validation-valid" data-valmsg-for="address" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Ghi chú :</label>
                <div class="col-md-10">
                    <textarea class="form-control" cols="20" id="Note" name="Note" rows="2"></textarea>
                    <span class="field-validation-valid" data-valmsg-for="Note" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div id="payment-method-options">
                <h2 class="col-md-12 col-sm-12 margin-bottom-40">Phương thức thanh toán</h2>
                <div class="payment-method-option">
                    <input class="le-radio" type="radio" name="group2" value="Thanh toán khi giao hàng"><i class="fake-box"></i>
                    <div class="radio-label bold " style="display:inline;">Thanh toán khi giao hàng</div>
                </div><!-- /.payment-method-option -->

                <div class="payment-method-option">
                    <input class="le-radio" type="radio" name="group2" value="Thanh toán trực tuyến"><i class="fake-box"></i>
                    <div class="radio-label bold " style="display:inline;">Thanh toán trực tuyến</div>
                </div><!-- /.payment-method-option -->
            </div><!-- /#payment-method-options -->
        </div>
    </div>
    <button class="btn btn-default" type="submit">Return shopping <i class="fa fa-shopping-cart"></i></button>
    <button class="btn btn-primary" type="submit">Checkout <i class="fa fa-check"></i></button>
</form>