@model IEnumerable<SellCamera.Models.OtherClass.InfoProduct>
<div class="row margin-bottom-40">
    <div class="col-md-12 col-sm-12">
        <h2>Sản phẩm khác</h2>
        <div class="owl-carousel owl-carousel4">
            @foreach (var item in Model)
            {
                <div>
                    <div class="product-item">
                        <div class="pi-img-wrapper">
                            <img src="~/assets/Image/@item.TenLoai/@item.tenhang.Replace(" ",string.Empty)/@item.Anh" class="img-responsive" alt="@item.Anh" style="height:250px;">
                            <div>
                                <a href="~/assets/Image/@item.TenLoai/@item.tenhang.Replace(" ",string.Empty)/@item.Anh" class="btn btn-default fancybox-button">Zoom</a>
                                <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                            </div>
                        </div>
                        <h3><a href="#">@item.TenSP</a></h3>
                        <div class="pi-price">@string.Format("{0:0,0}", item.Gia) VNĐ</div>
                        <a href="/cart/index?MaSP=@item.MaSP" class="btn btn-default add2cart">Add to cart</a>
                        @if (item.Giamgia != null)
                        {
                            <div class="sticker sticker-sale"></div>
                        }
                        @if (item.Isnew == 1)
                        {
                            <div class="sticker sticker-new"></div>
                        }

                    </div>
                </div>
            }
        </div>
    </div>
</div>
