
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCart.cshtml";
}
@*Thu vien ajax*@
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<div class="main">
    <div class="container">
        <!-- BEGIN SIDEBAR & CONTENT -->
        @if (ViewBag.countincart != null && ViewBag.countincart > 0)
        {
            <div class="row margin-bottom-40">
                <!-- BEGIN CONTENT -->
                <div class="col-md-12 col-sm-12">
                    <h1>Giỏ Hàng</h1>
                </div>
                <div class="goods-page" id="Cart">
                    @{ Html.RenderAction("Cart");}
                </div>
            </div>
            <!-- END CONTENT -->
        }
        else
        {
            if (Session["user"] != null)
            {
                <div class="row margin-bottom-40">
                    <!-- BEGIN CONTENT -->
                    <div class="col-md-12 col-sm-12">
                        <h1>Giỏ Hàng</h1>
                        <div class="shopping-cart-page">
                            <div class="shopping-cart-data clearfix">
                                <p>Giỏ hàng hiện đang trống !</p>
                            </div>
                        </div>
                    </div>
                    <!-- END CONTENT -->
                </div>
            }
            else
            {
                <div class="row margin-bottom-40">
                    <!-- BEGIN CONTENT -->
                    <div class="col-md-12 col-sm-12">
                        <h1>Bạn cần đăng nhập trước khi mua hàng !</h1>
                        <div class="shopping-cart-page">
                            <div class="shopping-cart-data clearfix" style="font-size:17px;">
                                <p><a href="#">Đăng nhập</a> hoặc <a href="#">Đăng ký</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END CONTENT -->
                </div>
            }
        }

        <!-- END SIDEBAR & CONTENT -->
        <!-- BEGIN SIMILAR PRODUCTS -->
        @{ Html.RenderAction("ProductOther");}
        <!-- END SIMILAR PRODUCTS -->
    </div>
</div>
<script>
    document.title="Giỏ hàng"
</script>
