@model List<SellCamera.Areas.ADMIN.model.StatusGuarantee>
@{
    ViewBag.Title = "status";
    Layout = "~/Areas/ADMIN/Views/Shared/_LayoutPage.cshtml";
}

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <h3 class="mb-0">chi tiết danh sách bảo hành</h3>
                </div>
                @{
                    if (Model.Count() == 0)
                    {                       
                        <p>chưa có dữ liệu bảo hành</p>
                    }
                    else
                    {

                        <div class="table-responsive">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col" class="sort" data-sort="name">Ngày đặt mua</th>
                                        <th scope="col" class="sort" data-sort="budget">Sản phẩm</th>
                                        <th scope="col" class="sort" data-sort="budget">Số lượng</th>
                                        <th scope="col">Tình trạng</th>
                                    </tr>
                                </thead>
                                @foreach (var item in Model)
                                {
                                    <tbody class="list">
                                        <tr>
                                            <th scope="row">
                                                <div class="media align-items-center">
                                                    <div class="media-body">
                                                        <span class="name mb-0 text-sm">@item.Ngaydatmua</span>
                                                    </div>
                                                </div>
                                            </th>
                                            <th scope="row">
                                                <div class="media align-items-center">
                                                    <div class="media-body">
                                                        <span class="name mb-0 text-sm">@item.TenSP</span>
                                                    </div>
                                                </div>
                                            </th>
                                            <th scope="row">
                                                <div class="media align-items-center">
                                                    <div class="media-body">
                                                        <span class="name mb-0 text-sm">@item.Soluong</span>
                                                    </div>
                                                </div>
                                            </th>
                                            @if (item.Ngayhetbaohanh < DateTime.Now)
                                            {    
                                                <td>
                                                    <span class="badge badge-dot mr-4">
                                                        <i class="bg-success"></i>
                                                        <span class="status">Còn Hạn</span>
                                                    </span>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <span class="badge badge-dot mr-4">
                                                        <i class="bg-warning"></i>
                                                        <span class="status">Hết Hạn</span>
                                                    </span>
                                                </td>
                                                <th>
                                                    <div class="media align-items-center">
                                                        <div class="media-body">
                                                            <a href="/ADMIN/Guarantee/Del?id=@item.MaChitietDH">
                                                                xóa
                                                            </a>
                                                        </div>
                                                    </div>
                                                </th>
                                            }
                                        </tr>
                                    </tbody>
                                }
                            </table>
                        </div>

                    }
                }
            </div>
        </div>
    </div>

</div>


